@keyframes localFight {
    0% {
        
        top: 45%;
        left: 90%;

    }
    50% {
        top: 5%;
        left: 10%;  

    }
    70% {
        top: 95%;
        left: 10%; 
    }
    100% {
        top: 45%;
        left: 90%; 
    }
}
@keyframes ParticipantTwo {
    0% {
        top: 45%;
        left: 90%;
    }
    50% {
        top: 5%;
        left: 10%; 
    }
    70% {
        top: 95%;
        left: 10%;
    }
    100% {
        top: 45%;
        left: 90%;
    }
}