@keyframes localFight {
    0% {
        
        top: 45%;
        left: 90%;

    }
    50% {
        top: 25%;
        left: -20%;  

    }
    60% {
        top: 35%;
        left: 10%;  
    }
     70% {
        top: 35%;
        left: 5%;
    }
    80% {
        top: 35%;
        left: 10%;
    }
    90% {
        top: 55%;
        left: 15%;
    }
    100% {
        top: 45%;
        left: 90%; 
    }
}
@keyframes LokalBerk {
    0% {
        
        top: 40%;
        left: 80%;

    }
    50% {
        top: 20%;
        left: -20%;  

    }
    60% {
        top: 30%;
        left: 5%;  
    }
     70% {
        top: 40%;
        left: 15%;
    }
    80% {
        top: 45%;
        left: 10%;
    }
    90% {
        top: 50%;
        left: 20%;
    }
    100% {
        top: 45%;
        left: 95%; 
    }
}
@keyframes LokalAster {
    0% {
        top: 1%;
        left: 99%;
        /* transform: scale(5) rotate(-60deg);   */
    }
    /* 80% {
        top: 75%;
        left: 5%; 
        
    } */
    90% {
        top: 95%;
        left: -45%; 
    }
    100% {
        top: 85%;
        left: -45%;
        transform: scale(200) rotate(-260deg);  
    }
}
@keyframes LokalAster2 {
    0% {
        top: 75%;
        left: 99%;
        
    }
   
    
    100% {
        top: 5%;
        left: -45%;
        transform: scale(45) rotate(-260deg);  
    }

}
@keyframes email-an {
    0% {
        box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 0 rgba(249,92,24,0.2),0 0 0 0 rgba(249,92,24,0.2)
    }
    40% {
        box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 15px rgba(249,92,24,0.2),0 0 0 0 rgba(249,92,24,0.2)
    }
    80% {
        box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 26.7px rgba(249,92,24,0.067)
    }
    100% {
        box-shadow:0 8px 10px rgba(249,92,24,0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 40px rgba(249,92,24,0.0)
}

/* @keyframes opsimple {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
} */