* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    font-family: 'Kelly Slab', cursive;
    font-size: 12px;
    font-weight: 600;
    background: url(img/sky.png) no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}
li {
    list-style-type: none;
}
.menu {
    width: 550px;
    position: relative;
    left: 450px;
    top: 20px;    
}
.menu ul {
    display: flex;
    justify-content:space-around;

}
.menu ul li {
    padding: 0 7px;
}
.menu a {
    color: rgb(207, 207, 207);
    text-transform: uppercase;
    font-size: 13px;
    border-bottom: 1px dotted;
    padding-bottom: 3px;
    font-stretch: ultra-expanded;
    
}
.menu a:hover {
    text-decoration: none;
    color: #fff;
}
.bd {
    border: 1px solid #000;
}
.bd-w {
    border: 1px solid #fff;
}
.fon-hei {
    position: relative;
    top: -320px;
    left: 358px;
    z-index: -2;
    width: 680px;
    height: 275px;
}
.trial-fight {
    position: absolute;
    top: 249px;
    left: 24px;
    z-index: -2;
    width:249px;
    height:145px;
    
}
.trial-fight img {
    
   background-size: 100%;
    /* object-fit: cover; */
    width:249px;
    height: 145px;

}
/* ...............................................................кнопка_в_бой */
.email-bt {
    background:rgb(61, 7, 7);
    border:2px solid #2a0c0a;
    border-radius:50%;
    box-shadow:0 8px 10px #310d0a4d;
    cursor:pointer;
    height:68px;
    text-align:center;
    width:68px;
    position: relative;
    left: 2%;
    bottom: 32%;
    z-index:999;
    transition:.3s;
    /* -webkit-animation:email-an linear 1s infinite; */
    animation:email-an linear 1s infinite;
}
.email-bt .text-call{
    height:58px;
    width:58px;        
    border-radius:50%;
    position:relative;
    overflow:hidden;
}
.email-bt .text-call span {
    text-align: center;
    color:#444546;
    opacity: 0;
    font-size: 0;
        position:absolute;
        right: 4px;
        top: 22px;
    line-height: 14px;
        font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}
.email-bt .text-call:hover span {
    opacity: 1;
        font-size: 11px;
}
.email-bt:hover i {
    display:none;
}
.email-bt:hover {
    z-index:1;
    background:#fff;
    transition:.3s
}
.email-bt:hover i {
        color:#38a3fd;
        font-size:40px;
        transition:.3s;
}
.email-bt i {
        color:#fff;
        font-size:29px;
        transition:.3s;
        line-height: 66px;
}
.email-bt i  {
    /* -webkit-animation: opsimple 3s infinite; */
    animation: opsimple 3s infinite;
}
/* ...............................................................кнопка_в_бой */
.greating {
    background: url(img/Layer\ 23.png) no-repeat;
    width: 668px;
    height: 278px;
    position: absolute;
    left: 383px;
    top: 80px;
    background-size: cover;
    line-height: 1.3;
    font-size: 140%;
    padding: 10px;
    text-align: justify;
    
}
.text-1 {
    text-align: center;
    font-size: 130% ;
}
.news-heading {
    padding: 10px 0;
    border-bottom: 1px dotted #fff;
    margin-bottom: 40px;
}
.zag {
    width: 100%;
    
}
.headline-news {
    padding-left:380px;
    color: rgb(207, 207, 207);
    text-transform: uppercase;    
}

.text {
     
    position: relative;
    right: 0;
    width: 200px;
    border: 1px solid #fff;
    padding: 20px;
}
.beatle {
    position: absolute;
    transition: all 2s ease;
    width: 30px;
    height: 30px;
    z-index: -12;
    /* top: 45%;
    left: 90%;  */
    animation: localFight 40s infinite alternate both;
}
.berk {
    position: absolute;
    transition: all 2s ease;
    width: 30px;
    height: 30px;
    z-index: -12;
    /* top: 45%;
    left: 92%; */
    animation: LokalBerk 40s infinite alternate both; 
}
.aster {
    position: absolute;
    transition: all 2s ease;
    width: 1px;
    height: 1px;
    z-index: -12;
    /* top: 1%;
    left: 99%; */
    animation: LokalAster 40s infinite alternate both; 
}
.aster2 {
    position: absolute;
    transition: all 2s ease;
    width: 1px;
    height: 1px;
    z-index: -12;
    /* top: 55%;
    left: 99%; */
    animation: LokalAster2 60s infinite alternate both; 
}
.miky {
    position: relative;
    top: -865px;
    left: 14px;
    z-index: -10;
    width: 250px;
    height: 250px;
}
.kor {
    position: relative;
    top: -915px;
    left: 14px;
    z-index: -2;
    width: 250px;
    height: 250px; 
    
}
.hist {
    position: relative;
    top: -950px;
    left: 14px;
    z-index: -2;
    width: 250px;
    height: 250px; 
}
.maket {
    position: relative;
    top: -970px;
    left: 28px;
    z-index: -2;
    width: 220px;
    height: 220px; 
}